body{
	background: url("img/VS.png") center center no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#jogo {

		width: 618px;
		height: 640px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		padding-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 25px;
		box-shadow: 10px 10px 10px 5px black;
	
}

.casa {
	
		border: 3px solid;
		width: 200px;
		height: 200px;
		float: left;
		border-radius: 25px;
	
		
	
}